@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 220 94% 10%;
    --card: 0 0% 100%;
    --card-foreground: 220 94% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 94% 10%;
    --primary: 217 83% 53%;
    --primary-foreground: 144 12% 97%;
    --secondary: 214 27% 94%;
    --secondary-foreground: 217 83% 53%;
    --muted: 214 27% 94%;
    --muted-foreground: 210 13% 48%;
    --accent: 214 27% 94%;
    --accent-foreground: 217 83% 53%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 144 12% 97%;
    --border: 210 39% 91%;
    --input: 210 39% 91%;
    --input-background: 0 0% 100%;
    --ring: 0 0% 0%;
    --radius: 0.5rem;
    --chart-1: 8 80% 60%;
    --chart-2: 175 49% 45%;
    --chart-3: 201 49% 29%;
    --chart-4: 39 94% 67%;
    --chart-5: 35 95% 63%;
    --success: 133 79% 32%;
    --warning: 22 73% 49%;
    --error: 357 79% 44%;
    --info: 209 99% 45%;
    --background-alpla: 210, 7%, 12%;
  }

  .dark {
    --background: 210 8% 8%;
    --foreground: 0 0% 98%;
    --card: 210 8% 8%;
    --card-foreground: 0 0% 98%;
    --popover: 210 8% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 22%;
    --secondary: 340 2% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 340 2% 25%;
    --muted-foreground: 220 12% 67%;
    --accent: 340 2% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 98%;
    --border: 340 2% 25%;
    --input: 340 2% 25%;
    --input-background: 15 5% 12%;
    --ring: 237 31% 87%;
    --chart-1: 210 100% 60%;
    --chart-2: 165 100% 40%;
    --chart-3: 24 100% 50%;
    --chart-4: 270 100% 60%;
    --chart-5: 330 100% 60%;
    --success: 133 79% 32%;
    --warning: 22 73% 49%;
    --error: 357 79% 44%;
    --info: 209 99% 45%;
    --nav-text: 0 0% 98%;
    --nav-text-secondary: 220 12% 67%;
    --background-alpla: 210, 7%, 12%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}